<p>
 <h3>用户名:</h3>
 
 <h2 ><%= @user.name %></h2>
 
</p>

<p>
  <h3>我的帖子:</h3>
  <% @user.posts.each do |post| %>
 <tr>
      <h4><%= post.title %></h4>
      <div><%= post.text %></div>
      <hr>
      <% end %>

</p><br>
<p>
  <h4>我的评论:</h4>
  <% @user.comments.each do |comment| %>
  <tr>
      <div><font class='post-title'><%= comment.content %></font></div>
      <br>
      <hr>
      <% end %>
  
</p>

