<div id="comment<%= comment.id %>">
  <p>
    
   <%= comment.content %>
 
   <br/>
  	<%= link_to '删除评论', 
  	[comment.post, comment],
  	remote: true ,
  	method: :delete, 
  	data: {confirm: "确定删除此评论?"} %>
  
  <hr>
   </p>
</div>