<%= form_for([@post, @post.comments.build],remote: true) do |f| %>
  <p>
    发表评论:<br>
    <%= f.text_area :content, :rows=>"3"%>
  </p>
  
  <p>
    <%= f.submit ('评论'), data:{:"disable-with"=>"请稍等..."}%>
  </p>
<% end %>