

<%= form_for(@post, html: { id: "post-form" }) do |f| %>

   <%= render "errors" %>
   
    
   <%= render partial: "input", locals: { f: f } %>
   <div>
   <%= f.submit ("发帖"), data:{:"disable-with"=>"请稍等..."} ,:class=> "btn btn-info" %>
   </div>
 
<% end %>
  