<% if @post.errors.empty? %>
 $('<%= escape_javascript(render :partial => "post", :object => @post) %>').hide().appendTo($('#replies table > tbody')).fadeIn('fast').css('display', 'table-row');
<% else %>
  $('<span class="error-message"><%= escape_javascript(@post.errors.full_messages.join(",")) %></span>').appendTo($('#new_reply_form'))
<% end %>