<h3 style= "color:blue">帖子列表</h3>

<h1><%=notice %></h1>
 
 <%= render 'post'%>
   <br><br><br>
<!-- 
 <%= link_to '发帖', new_post_path ,:class=>"fa_post" %>  -->
 
 <input type=button value="发帖" onclick="window.location.href='http://localhost:3000/posts/new'">



<script src='./javascripts/post.js'></script>