<h3 style= "color:blue ">帖子列表</h3><br>



<p>
  <!--提交表单-->
<%= render "form"%>
</p> 
 <!--显示内容-->
 <tdoby id="posts-list">
 	<%= render @posts %>
</tdoby>

<!--   
// <script type="text/javascript">
//   jQuery(function($) {
//     $('#post-submit').click(function() {
//       $.post("/posts", $("#post-form").serialize())
//         .success(function(result) {
//           $('#posts_list').prepend(result);
//         });
//     });


//   });
// </script> -->